In [219]:
 import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [221]:
df = pd.read_csv("heart.csv")

In [223]:
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [225]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int64
 2   Sex         303 non-null    int64
 3   ChestPain   303 non-null    object
 4   RestBP      303 non-null    int64
 5   Chol        303 non-null    int64
 6   Fbs         303 non-null    int64
 7   RestECG     303 non-null    int64
 8   MaxHR       303 non-null    int64
 9   ExAng       303 non-null    int64
 10  Oldpeak     303 non-null    float64
 11  Slope       303 non-null    int64
 12  Ca          299 non-null    float64
 13  Thal        301 non-null    object
 14  AHD         303 non-null    object
dtypes: float64(2), int64(10), object(3)
memory usage: 35.6+ KB

In [227]:
df.isnull().sum() #there is no null value in sex

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [229]:
df["Sex"].value_counts()

Sex
 1    205
 0     96
 3      1
-8      1
Name: count, dtype: int64

In [257]:
df["Sex"].replace("-8", "8",inplace=True)

C:\Users\PALLAVI\AppData\Local\Temp\ipykernel_8484\2472145494.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Sex"].replace("-8", "8",inplace=True)

In [259]:
df["Sex"].value_counts()

Series([], Name: count, dtype: int64)

In [261]:
df["Sex"] = df["Sex"].astype("float64")

In [263]:
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,NaN,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,NaN,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,NaN,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,NaN,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,NaN,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,NaN,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,NaN,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,NaN,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,NaN,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,NaN,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No