In [105]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [107]:
df = pd.read_csv(r"collegePlace.csv")

In [109]:
df.drop(columns=["Stream"], inplace= True) #gender is also droped

In [111]:
df.drop(columns=["Gender"], inplace= True) #gender is also droped

In [113]:
df.head()

   Age  Internships  CGPA  Hostel  HistoryOfBacklogs  PlacedOrNot
0   22            1     8       1                  1            1
1   21            0     7       1                  1            1
2   22            1     6       0                  0            1
3   21            0     8       0                  1            1
4   22            0     8       1                  0            1

In [115]:
# To cheak imbalance dataset
df["PlacedOrNot"].value_counts()

PlacedOrNot
1    1639
0    1327
Name: count, dtype: int64

In [117]:
x = df.iloc[:,:-1]
y= df["PlacedOrNot"]

# Random Under Sample

In [119]:
from imblearn.under_sampling import RandomUnderSampler

In [121]:
re = RandomUnderSampler()

In [123]:
re_x, re_y = re.fit_resample(x,y)

In [125]:
re_x

      Age  Internships  CGPA  Hostel  HistoryOfBacklogs
5      22            0     6       0                  0
6      21            0     7       0                  1
7      21            1     7       0                  0
9      21            1     6       1                  0
10     22            1     7       0                  0
...   ...          ...   ...     ...                ...
2034   22            3     6       0                  0
1138   22            2     8       0                  0
2147   21            1     9       0                  0
134    23            1     6       1                  1
1967   22            1     8       0                  0

[2654 rows x 5 columns]

In [127]:
re_y

5       0
6       0
7       0
9       0
10      0
       ..
2034    1
1138    1
2147    1
134     1
1967    1
Name: PlacedOrNot, Length: 2654, dtype: int64

In [141]:
re_y.value_counts()

PlacedOrNot
0    1327
1    1327
Name: count, dtype: int64

# Random Over Sample

In [143]:
from imblearn.over_sampling import RandomOverSampler

In [145]:
ro = RandomOverSampler()

In [147]:
ro_x, ro_y = ro.fit_resample(x,y)

In [149]:
ro_y.value_counts()

PlacedOrNot
1    1639
0    1639
Name: count, dtype: int64

In [151]:
# Now ro_x, ro_y and re_x, re_y are given to logistic regression and then predict