In [55]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [57]:
df = pd.read_csv("heart.csv")

In [59]:
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [61]:
df.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int64
 2   Sex         303 non-null    int64
 3   ChestPain   303 non-null    object
 4   RestBP      303 non-null    int64
 5   Chol        303 non-null    int64
 6   Fbs         303 non-null    int64
 7   RestECG     303 non-null    int64
 8   MaxHR       303 non-null    int64
 9   ExAng       303 non-null    int64
 10  Oldpeak     303 non-null    float64
 11  Slope       303 non-null    int64
 12  Ca          299 non-null    float64
 13  Thal        301 non-null    object
 14  AHD         303 non-null    object
dtypes: float64(2), int64(10), object(3)
memory usage: 35.6+ KB

In [65]:
df.select_dtypes(include="float64").columns

Index(['Oldpeak', 'Ca'], dtype='object')

In [67]:
from sklearn.impute import SimpleImputer

In [81]:
si = SimpleImputer(strategy="mean")
arr = si.fit_transform(df[['Ca','Oldpeak']])

In [83]:
df2 = pd.DataFrame(arr, columns=df.select_dtypes(include="float64").columns)

In [87]:
df2.isnull().sum()

Oldpeak    0
Ca         0
dtype: int64

In [89]:
df['Ca'].mean()

0.6722408026755853

In [91]:
df2

      Oldpeak   Ca
0    0.000000  2.3
1    3.000000  1.5
2    2.000000  2.6
3    0.000000  3.5
4    0.000000  1.4
..        ...  ...
298  0.000000  1.2
299  2.000000  3.4
300  1.000000  1.2
301  1.000000  0.0
302  0.672241  0.0

[303 rows x 2 columns]

In [ ]:
# change stratergy to fill other column like object with constant etc.....