In [91]:
import pandas as pd

In [93]:
df = pd.DataFrame({"name":["cat","dog","buffelo","cow","crow"]})
df

      name
0      cat
1      dog
2  buffelo
3      cow
4     crow

In [95]:
from sklearn.preprocessing import LabelEncoder

In [97]:
la = LabelEncoder()
df["en_name"] = la.fit_transform(df["name"])

In [99]:
df

      name  en_name
0      cat        1
1      dog        4
2  buffelo        0
3      cow        2
4     crow        3

In [101]:
dataset = pd.read_csv("heart.csv")

In [103]:
dataset

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [105]:
le = LabelEncoder()
dataset["ChestPain_category"] = le.fit_transform(dataset["ChestPain"])

In [107]:
dataset["ChestPain"].unique()

array(['typical', 'asymptomatic', 'nonanginal', 'nontypical'],
      dtype=object)

In [109]:
dataset

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD,ChestPain_category
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No,3
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes,0
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes,0
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No,1
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes,3
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes,0
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes,0
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes,2
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No,1